*{
    background-color: rgb(241, 255, 255);
    margin-top: 20px;
    margin-bottom: 2px;
}
h1{
    color: rgb(39, 50, 39);
}

h2{  /*Result PAGE */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 600;
    color: rgb(17, 17, 57);
}

input{
    border-radius: 5px;
    border-color: black;
    
}
#del {
    width: 160px;
}
#buton{
    background-color: rgb(195, 200, 111);
    visibility: hidden;
}
